<!DOCTYPE html>
{%import "bootstrap/wtf.html" as wtf%}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Login</title>
    <style>
        .loginform .control-label {
            visibility: hidden;
        }

        .loginform {
            margin-top: 30px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .pword i {
            transform: translate(260px, -45px);
        }
    </style>
</head>

<div class="navcontainer">
    <nav>
        <div class="nav-logo" onclick="homeRedir()">
            <i class="ri-database-2-fill"></i>
            <h2 id="rbac">RBAC</h2>
        </div>
</div>


<body>
    <div id="scrollTop" onclick='scrollToTop()'>
        <i class="ri-arrow-up-line"></i>
    </div>

    <div class="login">
        <form class="loginform" method="POST" action="/login">
            <h1>Login</h1>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            <div class="pword"><i class="ri-eye-off-line passwordtoggle"></i></div>
            {{ wtf.form_field(form.remember) }}
            <button class="signin" type="submit">Login<i class="ri-arrow-right-line"></i></button>
        </form>
        <span>Dont have an account? <a href="/register">Register</a></span>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <p class="deletemsg">{{ msg }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>